body {
        font-family: 'Advent Pro';
    color: #212121;
    letter-spacing: 0.03em;
    background-color: #ffffff;
    font-size: 17px;
    margin: 0;
    
}

ul,
h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
}