{{#each this}}
<div class="gallery__item">
    <a class="gallery__link" href="{{original}}">
        <img loading="lazy" class="gallery__image lazyload" data-source="{{original}}" src="{{preview}}"
            alt="{{description}}"></img>
    </a>
</div>
{{/each}}



