/* advent-pro-regular - latin */
@font-face {
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/advent-pro-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/advent-pro-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/advent-pro-v18-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/advent-pro-v18-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/advent-pro-v18-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/advent-pro-v18-latin-regular.svg#AdventPro') format('svg');
    /* Legacy iOS */
}