.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
}

input,
textarea {
  padding: 8px;
  font: inherit;
}

textarea {
  resize: none;
}
.js-age {
  padding: 0;
  margin: 0 auto;
  color: rgb(26, 26, 30);
  font-weight: 900;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
